.nav-link {
    color:rgb(127, 208, 255);
}

.navbar-nav .nav-link.active {
    color: rgb(169, 169, 169);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color:rgba(127, 208, 255, 0.604);
    border-color: rgb(152, 152, 188);
}