@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

:root {
    --color-text: rgb(127, 208, 255);
    --color-bgCards: linear-gradient(270deg, #00009e 0%, #000 100%, #fff 100%);
}

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #00009e 0%, #000000 100%, #fff 100%);
}

.nav-link {
    color: var(--color-text);
}

.navbar-nav .nav-link.active {
    color: rgb(169, 169, 169);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color:rgba(127, 208, 255, 0.604);
    border-color: rgb(152, 152, 188);
}

.sidebar {
    color: var(--color-text);
    background: var( --color-bgCards);
}

.card {
    background: var( --color-bgCards);
}

.card a {
    text-decoration: none;
    color: var(--color-text);
}

.slide-text,
.footer-text {
    color: var(--color-text);
    margin: auto auto;
}

footer {
    background: var( --color-bgCards);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 755px) {
    .curousel-indicatirs {
        display: none;
    }
}